body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}

h1 {
    color: rgb(102, 51, 153);
    font-size: 32px;
}

.ul-list {
    background-color: rgb(244, 164, 96);
}

#choco-h1 {
    background-color: hsl(34, 57%, 70%);
    color: #dc143c;
}

.heading-2 {
    text-decoration: wavy;
}

.ffries-2 {
    color: #7b68ee;
}

.choco-h2 {
    background-color: hsl(157, 100%, 49%);
}

.heading-2.ffries-2 {
    background-color: #ffa07a;
}

#ingredients {
    font-style: italic;
}

h1, h2, h3 {
    text-decoration: underline;
}

.special-ol li {
    background-color: rgb(60, 204, 132);
    color: hsl(322, 81%, 43%);
}

ol li {
    color: #0000cd;
}


